.cardMain {
  position: relative;
  width: 360px;
  height: 480px;
  margin: 0 0 40px 0;
}
.cardBg {
  position: absolute;
  width: 360px;
  height: 480px;
  z-index: -1;
}
/* .contentMain {
    display: flex;
    flex-direction: column;
} */
.dateMain {
  display: flex;
  gap: 10px;
  margin: 40px 0 0 40px;
}
.date {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.5;
  z-index: 10;
}
.dotp {
  z-index: 11;
  opacity: 0.5;
}
.title {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  z-index: 12;
  margin: 0 40px 0 40px;
}
.userBlock {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 40px 0 0 40px;
  /* align-items: flex-end; */
  margin-top: 60%;
}
