.slidersList {
  border: 1px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.listLeft {
  border: 1px solid red;
  width: 60%;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.listRight {
  border: 1px solid red;
  width: 35%;
  padding-top: 80px;
}