.blogContent {
  width: 100%;
}
.imageWrapper {
  margin-top: -85px;
  width: 100%;
  height: 616px;
  background: url(../../assets/differentImages/BigImgContent.png) no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}
.textImg {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;
  height: 24px;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.textImg h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #212b36;
}
.textImg h1 a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #919eab;
  text-decoration: none;
}
.blogContent hr {
  border: 1px solid #919eab3d;
}
