.mainContent {
  width: 100%;
  background: #161c24;
  opacity: 0.88;
}
.up {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
}
