.wrapper {
  display: flex;
  flex-direction: column;
  gap: 120px;
  background: url(../../assets/differentImages/Background.svg) no-repeat;
  -moz-background-size: 100%;
  -webkit-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  padding: 120px 144px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 1152px;
  height: 144px;
}

.top__txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  width: 480px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1152px;
  height: 680px;
}

.bottom_right,
.bottom_left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1152px;
  height: 170px;
}

.space {
  width: 570px;
  height: 47px;
}

.active {
  width: 582px;
  height: 170px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.active_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 546px;
  height: 170px;
}

.active_textLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 546px;
  height: 170px;
}

.border,
.border2,
.border3,
.border4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12px;
  height: 170px;
}

.border:before,
.border2:before,
.border3:before,
.border4:before {
  content: "°";
  color: red;
  background-color: red;
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

.border2::before {
  background-color: #22b8cf;
  color: #22b8cf;
}

.border3:before {
  color: #ffc81a;
  background-color: #ffc81a;
}

.border4:before {
  color: #0cd66e;
  background-color: #0cd66e;
}

.line {
  border: 1px solid rgba(145, 158, 171, 0.24);
  height: 134px;
  margin-top: 12px;
}

.title {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-top: 4px;
  margin-bottom: 8px;
}

.txt {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  width: 360px;
}

.txt__left {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;
  width: 360px;
  text-align: end;
}

.number,
.number2,
.number3,
.number4 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  color: #fa541c;
}

.number2 {
  color: #22b8cf;
}

.number3 {
  color: #ffc81a;
}

.number4 {
  color: #0cd66e;
}
.top h4 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #ffffff;
}
.phoneWrapper {
  display: none;
}
@media (max-width: 576px) {
  .wrapper {
    display: none;
  }
  .phoneWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px;
    gap: 64px;
    height: 1038px;
    background: #161c24;
  }
  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 335px;
    height: 664px;
  }
  .item1,
  .item2,
  .item3,
  .item4 {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 335px;
    height: 166px;
  }
  .phoneWrapper h1 {
    width: 185px;
    height: 42px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #ffffff;
  }
  .phoneWrapper p {
    width: 335px;
    height: 84px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: start;
    color: #ffffff;
    opacity: 0.72;
  }
  .item1 h1,
  .item2 h1,
  .item3 h1,
  .item4 h1 {
    width: 77px;
    height: 30px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
  }
  .item1 p,
  .item2 p,
  .item3 p,
  .item4 p {
    width: 307px;
    height: 78px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #ffffff;
    opacity: 0.72;
  }
}
