.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 512px;
}
.main h1 {
  margin-top: 120px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #212b36;
}
.mainbrands {
  width: 100%;
  height: 128px;
  display: flex;
  gap: 75px;
  flex-direction: column;
  align-items: center;
}
.mainbrands .up {
  margin-top: 80px;
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.mainbrands .bottom {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .main {
    display: flex;
    height: 482px;
  }
  .mainbrands {
    display: flex;
    margin-left: -150px;
  }
  .up {
    flex-direction: column;
    display: flex;
  }
  .bottom {
    flex-direction: column;
  }
  .up img {
    height: 25.599998474121094px;
    width: 85.35631561279297px;
    left: 10.306640625px;
    top: 3px;
    border-radius: 0px;
  }
  .bottom img {
    height: 25.599998474121094px;
    width: 85.35631561279297px;
    left: 10.306640625px;
    top: 3px;
    border-radius: 0px;
  }
}
