.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 100px;
  font-family: "Poppins", sans-serif;
}

.linksleft {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.linksleft a {
  text-decoration: none;
  color: #637381;
  margin-bottom: 5px;
}
.linksleft a:hover {
  color: #fa541c;
}
.linksleft .pages {
  display: flex;
  align-items: center;
}
.linksleft .pages img {
  margin-top: 2.5px;
}
.linksleft .pages p {
  margin-left: 5px;
}

.linksright {
  width: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.linksright a {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #212b36;
  text-decoration: none;
}
.linksright a img {
  margin-top: 10px;
}
.linksright p img {
  margin-top: 10px;
}
.linksright .joinupbtn {
  width: 83px;
  height: 36px;
  border-radius: 8px;
  background: #212b36;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.linksright .loginbtn {
  width: 83px;
  height: 36px;
  background: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.linksright .loginbtn:hover {
  color: #fa541c;
}
.linksright .joinupbtn:hover {
  color: #fa541c;
}

.menu li {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  justify-content: start;
  list-style: none;
  position: relative;
  z-index: 2;
  background-color: rgba(238, 238, 238, 0.5);
  border-radius: 5px;
}

.menu a {
  width: 88%;
  border-radius: 5px;
  display: block;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  transition: all 0.5s;
}
.menu a:hover {
  color: #ffffff;
  background: #fa541c;
  transform: scale(1.2);
}
.menu ul {
  position: absolute;
  left: -10px;
  top: 45px;
  display: none;
  padding: 0;
}
.menu li:hover ul {
  display: block;
}
.miniHeader {
  display: none;
}
.pagesLink {
  background-color: #ffffff;
}
.linksleft a {
  margin: 0;
}
@media (max-width: 576px) {
  .linksright,
  .linksleft ul,
  .linksleft a {
    display: none;
  }
  .header {
    align-items: center;
  }
  .miniHeader {
    display: flex;
    gap: 28.47px;
    align-items: center;
    margin-right: -350px;
  }
}
