/* .faqs div {
  border: 1px solid red;
} */
.faqs {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 15vh;
  justify-content: space-between;
}
.faqsLeft {
  width: 47%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.faqsRight {
  position: absolute;
  top: 0%;
  right: 0;
  width: 47%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.faqsDescripBottom {
  border-bottom: 1px;
}
.faqsDescripTop {
  display: flex;
  justify-content: space-between;
}
.faqsDescripAll {
  display: flex;
  justify-content: space-between;
  height: 65px;
  align-items: center;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgba(145, 158, 171, 0.24);
}
.faqsF {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  color: #919eab;
}
.faqsTitle {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #212b36;
  margin-bottom: 60px;
}
.faqsDescripTop {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #212b36;
}
.faqsDescripTop {
  cursor: pointer;
}
.faqsDescripBottom {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #212b36;
}
.faqsDescripAll img {
  cursor: pointer;
}
.faqsDescripAll p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #212b36;
}
