.our {
  width: 100%;
  height: 807px;
  background-image: url(../../assets/Our/ourBack.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  gap: 200px;
}
.ourContent h2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}
.ourContent p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}
.ourContent img {
  cursor: pointer;
}
.ourCore {
  width: 100%;
  margin-top: 150px;
  margin-bottom: 25px;
}
.ourCore h2 {
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #212b36;
  margin-bottom: 80px;
}
.coreScroll {
  display: flex;
  justify-content: space-between;
}
.scrollAll {
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.scrollAll h4 {
  margin: 40px 0 16px 0;
  font-family: "Barlow", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #212b36;
}
.scrollAll p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #637381;
}
.phoneContent {
  display: none;
}

@media (max-width: 576px) {
  .our {
    background-image: none;
  }
  .ourContent img {
    display: none;
  }
  .phoneContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 20px;
    gap: 40px;
    width: 375px;
    height: 528.44px;
    margin-left: -130px;
  }
  .phoneContent h1 {
    width: 144px;
    height: 42px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #212b36;
  }
  .phoneContent p {
    width: 335px;
    height: 90px;
    font-family: "Barlow";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #212b36;
  }
  .coreScroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    height: 1238px;
  }
  .scrollAll {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    width: 335px;
    height: 203px;
  }
  .scrollAll h4 {
    margin: 0;
  }
  .ourCore h2 {
    font-size: 32px;
  }
}
