* {
  margin: 0;
  padding: 0;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.fullContainer {
  width: 100%;
}
.containerSlider {
  width: 90%;
}
.socialPlaceContainer {
  width: 50%;
  margin: 0 auto;
}

/* slick change */

.slick-prev:before,
.slick-next:before {
  display: none;
}

.slick-dots li.slick-active button:before {
  color: #fa541c !important;
}
.slick-dots li button:before {
  font-size: 18px !important;
}
.slick-dots li button:before {
  color: #fa541c !important;
}
