* {
  margin: 0;
  padding: 0;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.slick-next,
.slick-prev {
  background: #f9fafb;
  color: #f9fafb;
  line-height: 0;
  display: none;
  background: none;
}
.slick-dots li.slick-active button:before {
  color: #fa541c;
}
.slick-dots li button:before {
  font-size: 14px;
}
.slick-prev:before,
.slick-next:before {
  background-image: url();
}
.slick-dots {
  bottom: -85px;
}
.fullContainer {
  width: 100%;
}
.containerSlider {
  width: 90%;
}
